@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-10;
}

@keyframes ticker {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(+150%);
  }
}

.ticker-text {
  animation: ticker 10s linear infinite;
  display: inline-block;
  white-space: nowrap;
  width: max-content;
}
